.container{
    margin: 20px 0;
    box-shadow: 5px 5px 10px #777;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 120px);
    /* padding: 20px; */
}